/*Import fonts*/

@import url('https://fonts.cdnfonts.com/css/graphik');

/*Body*/

    .body{
        width: auto;
        height: 6000px;
        background-color: #fff;
        background-image: url(img/bgc.png);
        background-size: 1735px 930px;
        background-blend-mode: multiply;
        background-position: 50%;
        background-repeat: no-repeat;
        background-position: top;
    }

/*Header*/

  .dekstop_menu {
    word-spacing: 41px;
    padding-left: 12%;
    vertical-align: top;
    font-size: 15px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.2px;
  }
  
  .menu{
    font-family: 'Graphik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
    }
    .dekstop_menu a{
        vertical-align:middle;
    }

    .social{
        vertical-align:middle;
        float: right;
        padding: 0.1px;
        margin-right: 50px;
        margin-top: 20px;
        
    }

/*Best Product Figma*/

  .main{
    text-align: center;
    font-family: 'Graphik', sans-serif;
  }
  
  .main_text{
    font-style: bold;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    color: #fff;
  }

  .p_text{
    line-height: 40px;
    font-size: 28px;
    letter-spacing: 0.2px;
    color: #fff;
  }

/*Section Feature*/

  .text_h2{
    font-family: 'Graphik', sans-serif;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
  }

  .p_text1{
    line-height: 40px;
    font-size: 28px;
    letter-spacing: 0.2px;
    color: #374754;
    font-family: 'Graphik', sans-serif;
  }

  .features{
    text-align: center;
    margin-top: 550px;
  }

/*OpenTypes*/

  .opentypes{
    float: left;
    margin-left: 250px;
  }
  .text_h3{
    font-style: bold;
    font-size: 20px;
    letter-spacing: 0.1px;
    vertical-align: top;
    line-height: 28px;
    text-align: center;
    font-family: 'Graphik', sans-serif;
    color: #252B42;
  }

  .p_text2{
    font-family: 'Graphik', sans-serif;
    color: #374754;
    line-height: 25px;
    font-size: 18px;
    vertical-align: top;
    letter-spacing: 0.2px;
    text-align: center;
  }

  .first_in_ul{
    margin-left: 85px;
  }
  
/*Design*/

  .design{
    float: left;
    margin-left: 85px;
  }

  .second_in_ul{
    margin-left: 85px;
  }

/*Action*/

.action{
    float: left;
    margin-left: 85px;
}

.third_in_ul{
    margin-left: 85px;
}

/*List*/

.list{
        margin-top: 85px;
}

.img_girl{
    text-align: center;
    background-blend-mode: multiply;
    float: right;
    padding-right: 100px;
}

/*Organize*/

.organize{
    margin-top: 100px;
    font-family: 'Graphik', sans-serif;
    float: left;
    margin-left: 85px;
}

.img_macbook{
    float: right;
    margin-top: 100px;
    margin-right: 100px;
}

/*Prototyping*/
.prototyping{
    float: right;
    margin-top: 200px;
    margin-right: 275px;
    position: relative;

}

.input{
margin-top: 30px;
display: block;
font-family: 'Graphik', sans-serif;
font-weight: 400;
line-height: 1.5;
background-color: #fff;
border: 0px;
width: 170px;
}

.img_sub{
float: right;
position:absolute;
margin-left: 180px;
margin-top: -45px;
size: 100px;
}

.news{
    margin-top: 100px;
}

/*Partners*/


